<div class="devstory">
  <div class="two columns offset-by-four dev-header">
    <h1>
      <a href='/about/dev'>
        A Peek Into The Process
      </a>
    </h1>
  </div>
  <div class="offset-by-one two columns">
    <p>
      Cornman: The Game, is the first HTML5 mobile game we ever created.
    </p>
    <p>
      Built in 7 days, we serve up endless Javascript fun in this infinite side-scroller.
    </p>
    <p>
      Tap to jump, tap to shoot, this is our final project before graduating Dev Bootcamp Seattle.
    </p>
</div>
</div>
