<h1><a href='/about/dev'>Cornman: The Game</a></h1>
<p>Cornman is the first HTML5 mobile game we ever created. Built in 7 days, we served up endless Javascript fun in this infinite side-scroller. Tap to jump, tap to shoot, this is our final project before graduating Dev Bootcamp Seattle.</p>
