<div class="devstory front">
  <div class="two columns offset-by-three dev-header">
    <h1 id="link-dis">
      <a href='/about/dev'>
        Peek Into The Process Here
      </a>
    </h1>
    <iframe src="https://player.vimeo.com/video/216220524" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/embed/216220524">Cornman the Game Graduation Video</a></p>
  </div>
  <div class="offset-by-three two columns whatever">
    <h3>
      Cornman: The Game, is the first HTML5 mobile game we ever created.
    </h3>
    <h3>
      Built in 7 days, we serve up endless Javascript fun in this infinite side-scroller.
    </h3>
    <h3>
      Tap to jump, tap to shoot, this is our final project before graduating Dev Bootcamp Seattle.
    </h3>
  </div>
</div>
