<div class="title-page">
  <div class="title-content">
    <div class="title-header">
      <%= image_tag("cm-title-darksub.png", size: "800x400") %>
    </div>
      <h3>HTML5 Infinite Mobile Side Scroller</h3>
      <div class="start-button">
        <a href="http://cornman.herokuapp.com">
          <%= image_tag("start-button.png", size: "110x55")%>
        </a>
      </div>
      <div class="spacer">
      </div>
    </div>
</div>
