<div class="title-page">
  <div class="title-content">
    <%= image_tag("cm-title-darksub.png", size: "500x200") %>
      <h3>Infinite Mobile Side-Scroller Game</h3>
        <button>CLICK HERE TO PLAY</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
