<div class="title-page">
  <div class="title-content">
    <%= image_tag("cm-title-darksub.png", size: "500x200") %>
      <h3>HTML5 Infinite Mobile Side Scroller</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="http"><img src="[your link to the image goes here]" /></a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
