<h1>Game Story</h1>
<p>
  INFORMATION EHREREREH
</p>

<div>
  <div class="photobanner">
    <%= image_tag("menu-assets.png", class: "first", alt: "") %>
    <%= image_tag("cow.gif") %>
  </div>
</div>
