<div class="wrapper dev">
  <div class="main dev">

<section class="page1">
    <div>
      <%= image_tag("title-screen_macbookpro15_front.png", {size: "962x578"} ) %>
    </div>
    <div class="offset-by-two three columns paragraph">
      <p class="title space">Project Overview</p>
        <p class="space">
          In the final week of Bootcamp, we decided to build an HTML5 mobile application adaptable across multiple devices. In the short 7 days, we utilized agile methodologies, learned a brand new Phaser framework and deployed Cornman and the Cornman API both to heroku.
        </p>
    </div>
  <div class="three columns paragraph">
    <p class="title space">Technologies Used</p>
    <p>Javascript ES6, Phaser Framework, HTML5/CSS3, Ruby/Rails, Jasmine, Adobe Photoshop, Illustrator, Premiere Pro, Aseprite</p>
    <p class="title space">Methodologies Utilized</p>
    <p>Mobile first design, Agile, Website Wireframes</p>
  </div>
  <div class="three columns paragraph">
    <p class="title space">Duration</p>
    <p class="space">April 27, 2017 - May 5, 2017</p>
    <p class="title space">Roles</p>
    <ul>
      <li>Team Lead: Josh Mun</li>
      <li>Design Executive: Linsey Reed</li>
      <li>Scrum Master: Julia Xu</li>
    </ul>
  </div>
</section>

<section class="page2 dev">
  <div>
    <h1>Phase 1: Learn</h1>
  </div>
    <div class="offset-by-three six columns paragraph">
      <p>The first objective was to learn. None of us had ever developed a game--we had no idea even where to begin. We had vague notions of which technologies we'd like to use, "React is hot!", "Let's stick to Rails...", "what's a game engine?" The project was intimidating to say the least, but like all great things, we took it methodically, systematically and strategically.</p>
      <p>The first day was devoted to deep diving the subject. We scourged the internet, found dozens of possibilities, closed doors on dozens more until after lunch we circled in our chairs and decided: Pure Javascript, Phaser framework. We busted out our stickies and got to work towards a path to green. By the end of Thursday we built our Kanban, forecasted project timelines and agreed on team norms would included mandatory starbucks outings during the project. With good empathy and agile guiding us, the team was stoked.</p>
    </div>
</section>

<section class="page3">
  <div class="offset-by-one column">
    <h1>Phase 2: Code, draw, scrap, learn, repeat.</h1>
  </div>
      <div class="two columns offset-by-one">
        <div>
          <%= image_tag("iterationgameplay.png", {size: "1000x389"} ) %>
        </div>
        <br>
        <div>
          <%= image_tag("iterationplay2.png", {size: "1000x389"} ) %>
        </div>
      </div>
      <div class="three columns offset-by-five phase-2">
      <p>no on backend, pure javascript front end. but wanted to save state. building out a back end rails api. then realizing we wanted to host a website. tearing it down, building a full rails app to serve the cornman game scores, while hosting the project portfolio</p>
      <p>We had learned Javascript for the first time in about week, had 3 days to do a React tutorial and practice, and dove head first into building a mobile applciation. We wanted to deploy to the app store, so we gravitated towards React Native. It's powerful, to code once, and deploy anywhere. But realizing we were building an infintie side scroller game better suited as a static HTML5 game. React was not the best instrument as we weren't necessarily manipulating DOM elements, as much as we were manipulating a game canvas.</p>
      <p>If bootcamp taught us anything, it taught us to learn. We're used to feeling utterly confused and lost, and in that environment we thrive. We deep dived into Phaser, indexed reliable resources, found out the official documentation was terrible but it was all about the community edition. We dove to implement small features, all while learning Javascript and translating dated examples into ES6. It was like simulatenously learning all at the same time.</p>
      </div>
</section>

<section class="page4">
  <div class="offset-by-one-third columns">
    <h1>Phase 3: The Road to Deploy</h1>
  </div>
  <div class="offset-by-three three columns">
  <h2>Challenges</h2>
  <p>The mobile industry is saturated with phones of various screens and sizes. This introduced the perennial challenge of scaling our game across multiple devices. We settled for a resolution of 960x640, at least covering the apple market. </p>
  <p>Nature of game development makes testing increasingly difficult. The challenge is presented in recreating a testing environment that mirrors the entire game. We learned that's why notable companies will hire manual testers, a resource we lacked in the past seven days at Bootcamp.</p>
  </div>
  <div class="four columns">
  <h2>Lessons</h2>
  <p>Continue to challenge ourselves, such as implementing a username feature. More research into asset design, consistency in design. Identifying good documentation.</p>
  <h2>Achievements</h2>
  <p>Everything in this game was 99% originally created by us. All assets, design and content were uniquely authored by the three of us. No corns were harmed in the making of this game.</p>
  <h2>Deploy</h2>
  <p>We successfully deployed the front end Cornman game to Heroku, as well as the Cornman API housing the database and this website. Deployment to Google Play store coming soon...</p>
  </div>
  <div>
    <%= image_tag("IMG_0155.JPG", {size: "864x433"} ) %>
  </div>
  <p class="offset-by-three columns"><a href='https://www.youtube.com/watch?v=fdxlA8UoNB0'>Credits to Music</a></p>
<!-- video -->
</section>

  </div>
</div>

<script>
onePageScroll(".main", {
 sectionContainer: "section",
 loop: true,
 responsiveFallback: false
});

</script>
