<!-- <div class="dev-story"> -->
<div class="wrapper dev">
  <div class="main dev">

<section class="page1 dev">
  <div class="page_container dev">
    <h1>Cornman: The Game</h1>
    <p>Pushing the boundaries of learning</p>
<!-- need image of final work here -->
  </div>
</section>


<section class="page2">
  <div class="page_container">
    <div class="one-half column paragraph">
      <!-- <h2>Project Overview</h2> -->
      <p class="title space">Project Overview</p>
        <p class="space">
          In the final week of Bootcamp, we decided to build an HTML5 mobile application adaptable across multiple devices. In the short 7 days, we utilized agile methodologies, learned a brand new Phaser framework and deployed Cornman and the Cornman API both to heroku.
        </p>
    </div>

  <div class="one-half column paragraph">
    <p class="title space">Duration</p>
    <p class="space">April 27, 2017 - May 5, 2017</p>
  </div>

  <div class="one-half column paragraph">
    <p class="title space">Roles</p>
    <p>Team Lead: Josh Mun</p>
    <p>Design Executive: Linsey Reed</p>
    <p>Scrum Master: Julie Xu</p>
  </div>

<div class="one-half column paragraph">
  <p class="title space">Technologies Used</p>
  <p>Javascript ES6, Phaser Framework, HTML5/CSS3, Ruby/Rails, Jasmine, Adobe Photoshop, Illustrator, Premiere Pro, Aseprite</p>
</div>

<div class="one-half column paragraph">
  <p class="title space">Methodologies Utilized</p>
  <p>Mobile first design, Agile, Website Wireframes</p>
</div>
</section>

<section class="page3">
  <div class="page_container">
<h2>Phase 1: Learn</h2>
<p>The first objective was to learn. None of us had ever developed a game--we had no idea even where to begin. We had vague notions of which technologies we'd like to use, "React is hot!", "Let's stick to Rails...", "what's a game engine?" The project was intimidating to say the least, but like all great things, we took it methodically, systematically and strategically.</p>
<p>The first day was devoted to deep diving the subject. We scourged the internet, found dozens of possibilites, closed doors on dozens more until after lunch we circled in our chairs and decided: Pure Javascript, Phaser framework. We busted out our stickies and got to work towards a path to green. By the end of thursday we built our Kanban, forecasted project timelines and agreed on team norms would include mandatory starbucks outings during the project. With good empathy and agile guiding us, the team was stoked.</p>
<!-- pictures here -->
  </div>
</section>

<h2>Phase 2: Code, draw, scrap, learn, repeat.</h2>
<p>-talk about how many changes happened in tech</p>
<p>no on backend, pure javascript front end. but wanted to save state. building out a back end rails api. then realizing we wanted to host a website. tearing it down, building a full rails app to serve the cornman game scores, while hosting the project portfolio</p>
<p>assets on assets. drawing in Aseprite, manually building in illustrator, title assets and logos in photoshop. Design, code, design code, eat, sleep, repeat.</p>
<p>We had learned Javascript for the first time in about week, had 3 days to do a React tutorial and practice, and dove head first into building a mobile applciation. We wanted to deploy to the app store, so we gravitated towards React Native. It's powerful, to code once, and deploy anywhere. But realizing we were building an infintie side scroller game better suited as a static HTML5 game. React was not the best instrument as we weren't necessarily manipulating DOM elements, as much as we were manipulating a game canvas.</p>
<p>Pixi? Unity? Levels? Phaser.</p>
<p>If bootcamp taught us anything, it taught us to learn. We're used to feeling utterly confused and lost, and in that environment we thrive. We deep dived into Phaser, indexed reliable resources, found out the official documentation was terrible but it was all about the community edition. We dove to implement small features, all while learning Javascript and translating dated examples into ES6. It was like simulatenously learning all at the same time.</p>

<!-- mockup pictures -->

<section class="page4">
  <div class="page_container">

<h2>Phase 3: Challenges</h2>
<p>Scaling, testing, etc</p>
<!-- iterations of game, pictures of old cornman, versions of game -->

<!-- seeing the game first show up, introducing states -->

<p>Original assets</p>

<h2>Deploy</h2>
<p>Test, test, test everything you could. Deployed both to heroku, deployed on google play store. Working with scaling, compromising, media queries, bugs, etc</p>
<p>Complete. Sleep.</p>
<!-- video -->
<!-- pictures of final product -->
</div>
  </div>
</section>

  </div>
</div>

<script>
onePageScroll(".main", {
 sectionContainer: "section",
 loop: true,
 responsiveFallback: false
});

</script>
