section.page2.dev {
  background: #ffffcc image-url('kanbanweb.jpg') bottom no-repeat;
  background-position: 50% 80%;
}

.main section .page_container .title-page {
  z-index: 1;
  background-image: image-url('title-background-new.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 85%;
  background-repeat:  no-repeat;
  text-align: center;

}
