.paragraph {
  /*width: 400px;*/
  width: 35%;
  text-align: left;
  line-height: 1.5;
  margin: 5px;
  display: block;
}

p.title {
  color: rgba(255,255,255,0.85);
  font-size: 24px;
}

p.space {
  margin: 0;
  /*padding: 0;*/
}

.section-right {
  width: 35%;
  margin: 5px;
  display: inline-block;
  /*box-align: right;*/
}

section.page2 {
  background-color: #ecf0f1
}

section.page3 {
  background: #ffffcc url(kanbanweb.jpg) bottom no-repeat;
  background-position: 50% 70%;
}

section.page4 {
  background-color:   #c0c5ce;
}
