.paragraph {
  width: 35%;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 5px;
  display: block;
}

p.title {
  color: black;
  font-size: 24px;
}

p.space {
  margin: 0;
}

.section-right {
  width: 35%;
  margin: 5px;
  display: inline-block;
}



div.phase-2 p {
  text-align: justify;
}

#link-dis {
  border: 1px dashed black;
}

#link-dis a:hover {
  color: #0abab5;
}

div.whatever h3 {
  font-size: 26px;
}

#back-button {
  /*margin-top: 10px;*/
  margin-left: 25px;
  text-align: left;
}

section.page3 div h1.dev {
  text-align: left;
}

div.iteration-image img {
  max-height:100%;
  max-width:100%;
}

div.title-image {
  text-align: center;
}

h1.title {
  text-align: center;
}

section.page4 div.title h1 {
  text-align: center;
}

div.group-image {
  margin-top: 50px;
  text-align: center;
}

div.group-image img {
  max-height:100%;
  max-width:100%;
}
