.paragraph {
  width: 35%;
  text-align: justify;
  line-height: 1.5;
  margin: 5px;
  display: block;
}

p.title {
  color: black;
  font-size: 24px;
}

p.space {
  margin: 0;
}

.section-right {
  width: 35%;
  margin: 5px;
  display: inline-block;
}

section.page2.dev {
  background: #ffffcc url(kanbanweb.jpg) bottom no-repeat;
  background-position: 50% 70%;
}

.phase-2 p {
  text-align: justify;
}

#link-dis {
  border: 1px dashed black;
}

#link-dis a:hover {
  color: #0abab5;
}

div.whatever h3 {
  font-size: 26px;
}

#back-button {
  /*margin-top: 10px;*/
  margin-left: 25px;
  text-align: left;
}
