<!DOCTYPE html>
<html>
  <head>
    <title>Cornman The Game</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=BenchNine|Knewave|News+Cycle" rel="stylesheet">
    <script type="text/javascript" src="onepagescroll.js"></script>
    <link href='onepage-scroll.css' rel='stylesheet' type='text/css'>
    <style>

	</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
